@import "tailwindcss";

:root {
  --dark: #111111;
  --dark-alternate: #1b1918;
  --primary: #ff5f3f;
  --primary-light: #f4ebeb;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

html{
  overflow-x:hidden; 
}

* {
  @apply font-poppins;
}

.input-group{
  @apply mb-5;
}
.input-group label{
  @apply block text-xs mb-1;
}
.input-group input,
.input-group textarea{
  @apply px-4 py-2.5 bg-gray-100 w-full focus:border focus:border-gray-400 outline-none text-sm;
}

/* INPUT GRUP ADMIN */

.input-group-admin label {
  @apply block text-xs mb-1;
}

.input-group-admin input,
.input-group-admin select,
.input-group-admin textarea {
  @apply px-4 py-3 w-full border border-[#DBDBDB] rounded-md focus:border-gray-500 outline-none text-sm;
}